<!DOCTYPE html>
<html>
<head>
	<title>flex 等css3布局测试</title>
	<link rel='stylesheet' href='dist/css/flex.css'/>
	<script src="https://www.500cache.com/mobile/??touch/js/alloy_finger.js,/touch/js/flexible.js"></script>
</head>
<body>
	<div class="outer">
		<div class="inner">1</div>
		<div class="inner">2</div>
		<div class="inner">3</div>
		<div class="inner">4</div>
		<div class="inner">5</div>
		<div class="inner">6</div>
		<div class="inner">7</div>
		<div class="inner">8</div>
	</div>
</body>

</html>
